/* https://fonts.google.com/ */

/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */




/* @font-face {
  font-family: ;
  src: url();
} */

/* 
Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.

.flexbox{
display: flex;

Flex Container : 
flex-direction: column;
flex-direction: column-reverse;
flex-direction: row;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-flow: row wrap;
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;

height: 200px; à définir absolument une hauteur quand on utilise "align-items"
align-items: center;
align-items: flex-start;
align-items: flex-end;
align-items: stretch;
align-items: baseline;

flex-wrap: wrap;
align-content: space-between;

flex-wrap: wrap;
align-content: space-around;

flex-wrap: wrap;
align-content: stretch;

flex-wrap: wrap;
align-content: center;
align-content: space-evenly;

flex-wrap: wrap;
align-content: flex-start;

flex-wrap: wrap;
align-content: flex-end;

justify-content: center;
align-items: center;

Child Elements (Items) :
display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch;

flex-grow

display: flex;
align-items: stretch;
flex-shrink


flex-basis
flex : auto // On l'utilse pour les enfants
align-self


flex-flow

}
*/

/*************** GLOBAL ***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}
*{
    box-sizing: border-box;/*pour garder la meme taille*/
}
img{
    width:100%;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container{
    width:900px;
    margin:0 auto;
    /*pour centrer la page dans le navigateurs*/
    
}



/*************** END GLOBAL ***************/

/*************** HEADER ***************/

header{
  background-image: url("../img/dinosaure.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* permet que l'image fasse toute la largeure de la page */
  margin: auto;
  position: relative;
 
}
.img1{
  margin: auto;
  justify-content: center;
  width: 900px;
  padding-top: 200px;
  
}
.img2{
  position: absolute;
  bottom: 0px;
  right: 0px;
  
}

/*************** END HEADER ***************/

/*************** NAV ***************/
nav {
  position: relative;
  opacity: 0.5;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  /* Couleur semi-transparente */
  z-index: -1;
}

.ul1{
  display: flex;
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 20px;
  padding-top: 40px;
}
.ul1 :focus{
  color: rgb(141, 174, 79);
}
.ul1 li,a {
  color: white;
  text-decoration: none;
}
.button{
  color: white;
  background-color: #1C5F81;
  width: 200px;
  height: 30px; 
  text-align: center;
  justify-content: center;
  padding-top: 5px;
}

/*************** END NAV ***************

/*************** MAIN ***************/
/*************** SECTION 1 ***************/

.sect1{
  justify-content: center;
}
.sect1a h1{
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}
.sect1a p{
  padding-top: 20px;
}
figcaption{
  font-size: 25px;
  color: fuchsia;
  font-weight: bold;
  text-align: center;
}

.sect1b p{
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.button2{
  color: white;
  background-color: #1C5F81;
  width: 150px;
  height: 35px; 
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 7px;
  margin-top: 20px;
  font-size: 10px;
  
}
/*************** END SECTION 1 ***************/

/*************** SECTION 2 ***************/
.sect21{
  width: 1100px;
  margin: auto;
  justify-content: center;
}
.sect2{
  display: flex;
  justify-content: space-between;
}
.sect2a{
  padding-top: 100px;
  display: block;
  width: 500px;
}
.creditCard{
  width: 50px;
  display: flex;
  margin-right: 15px;
}
.creditCard h2{
  margin: auto;
  font-size: 30px;
  margin-left: 15px;
}
.tarif {
  padding-top: 30px;
}
.button3{
  color: white;
  text-decoration: white;
  background-color: #1C5F81;
  width: 200px;
  height: 50px; 
  text-align: center;
  justify-content: left;
  padding-top: 10px;
  margin-top: 20px;
  
}

.sect2b {
  padding-top: 100px;
  display: block;
}
.sect2b>p{
  padding-top: 20px;
}
.clock{
  display: flex;
  justify-content: left;
}
.clock1{
  width: 25px;
  margin-right: 15px;
}
.sect3{
  justify-content: space-evenly;
  width: 500px;
  
}
.sect3a{
  display: flex;
  padding-top: 100px;
}
.bus{
  width: 50px;
  display: flex;
  margin-right: 15px;
}
.bus h2{
  margin: auto;
  font-size: 30px;
  padding-top: 150px;
    
}

.bus2{
  text-align: left;
  padding-top: 40px;
}

.m13{
  width: 50px;
}
/*************** END SECTION 2 ***************/

/*************** SECTION 3 ***************/
.logos h2{
  text-align: center;
  padding-top: 150px;
  font-size: 40px;
  font-weight: bold;
}
.logos2{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 100px;
}
.tf1{
  width: 100px;
}
.bfm{
  width: 100px;
}
.jdd{
  width: 100px;
}
.rtl{
  width: 100px;
}
/*************** END SECTION 3 ***************/

/*************** END MAIN ***************/

/*************** FOOTER ***************/
footer{
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 70px;
}

.sideL{
  list-style-type: none;
  justify-content: left;
  text-align: left;
  display: block;
  font-size: 10px;
  color: white;
  padding-top: 100px;
}
.last{
  width: 300px;
}
/*************** END FOOTER ***************/

/*************** MEDIAQUERY ***************/

@media (max-width: 1400px) {
  header {
    /* background-color: #e68f15; */
  }
 
}

@media (max-width: 960px) {
  header {
    background-image: none;
    background-color: rgb(141, 174, 79);;
  }
  nav {
    display: none;
  }
  .img2 {
    display: none;
  }
  .container{
    width: 100%;
    display: block;
  }
  .sect21 {
    display: block;
    width: 100%;
  }
  .sect2{
    width: 100%;
    display: block;
  }
  .sect3{
    width: 100%;
    display: block;
  }
  footer{
    display: block;
    width: 100%;
  }
  .sideL{
    width: 100%;
    display: block;
  }
}
@media(max-width: 760px){
  header{
    display: none;
  }
}

/*************** END MEDIAQUERY ***************/
