
/* 
Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.

.flexbox{
display: flex;

Flex Container : 
flex-direction: column;
flex-direction: column-reverse;
flex-direction: row;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-flow: row wrap;
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;

height: 200px; à définir absolument une hauteur quand on utilise "align-items"
align-items: center;
align-items: flex-start;
align-items: flex-end;
align-items: stretch;
align-items: baseline;

flex-wrap: wrap;
align-content: space-between;

flex-wrap: wrap;
align-content: space-around;

flex-wrap: wrap;
align-content: stretch;

flex-wrap: wrap;
align-content: center;
align-content: space-evenly;

flex-wrap: wrap;
align-content: flex-start;

flex-wrap: wrap;
align-content: flex-end;

justify-content: center;
align-items: center;

Child Elements (Items) :
display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch;

flex-grow

display: flex;
align-items: stretch;
flex-shrink


flex-basis
flex : auto // On l'utilse pour les enfants
align-self


flex-flow

}
*/

/*************** GLOBAL ***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}
*{
    box-sizing: border-box;/*pour garder la meme taille*/
}
img{
    width:100%;
}
body{
  font-family: 'Lora', serif; 
}
.container{
    /*width:900px;*/
    margin:0 auto;
    /*pour centrer la page dans le navigateurs*/
    
}

/*************** END GLOBAL ***************/

/*************** HEADER ***************/
header{
  background-color: rgb(224, 222, 222);
  padding-bottom: 10px;
}
.first{
  display: flex;
}
.logo{
  width: 50px;
  text-align: left;
  height: 50px;
  padding-top: 15px;
  margin-left: 20px;
  transition: ease-out 15s;
  transform: rotate(360deg);
}
.boutique{
  margin-left: 30px;
  font-size: 35px;
}
.pink{   
  color: rgb(224, 36, 168);
  text-align: center;
  font-size: 15px;
}
.help {
  color: rgb(103, 220, 255);
  margin-left: 150px;
  font-size: 20px;
}
.image{
  position: relative;
}
.number{
  position: absolute;
  top: 40px;
  right: 510px;
}
.compte{
  margin-left: 90px;
  width: 403px;
}
.compte2{
  text-align: center;
  background-color:rgb(103, 220, 255);
  color: white;
  font-size: smaller;
}
.line{
  width: 100%;
  height: 3px;
  color: rgb(224, 222, 222);
}
.article{
  display: flex;
  background-color:rgb(103, 220, 255);
  color: white;
}
.article2{
  display: flex;
  width: 80px;
  margin-top: 5px;
}
.article3{
  font-size: 15px;
  margin: auto;
  margin-left: 10px;
}
/*************** END HEADER ***************/

/*************** NAV ***************/
.nav1{
  display: flex;
}
.nav1a{
  background-color: rgb(103, 220, 255);
  width: 1100px;
}
.nav1a ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-top: -10px;
}
.nav1a>ul>li>a{
  text-decoration-line: none;
  color: white;
}
.pink2{
  background-color:rgb(224, 36, 168);
  list-style: none;
  width: 200px;
  text-align: center;
}
.pink2:hover{
  background-color: rgb(103, 220, 255);
}
.pink2>li>a{
  text-decoration-line: none;
  color: white;
}
.pink2>li{
  margin-top: 10px;
}
/*************** END NAV ***************

/*************** SECTION  ***************/
main{
  background-color: rgb(241, 241, 241);
  display: flex;
}
.bandeau{
  margin-bottom: -5px;
}
.firstBloc{
  margin-left: 15px;
  padding-top: 20px;
  width: 250px;
}
.paiement>h2{
  color: rgb(103, 220, 255);
  font-weight: lighter;
}
.paiement>p{
  font-weight: bolder;
  padding-top: 10px;
}
.paiement2{
  width: 215px;
  padding-top: 10px;
  margin-top: 15px;
}
.verticalLine>img{
  width: 2px;
  height: 150px;
  border: 2px;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.secondBloc{
  margin-left: 15px;
  padding-top: 20px;
  width: 590px;
}
.description>h2{
  color: rgb(103, 220, 255);
  font-weight: lighter;
}
.description>p{
  font-weight: bolder;
  padding-top: 10px;
}
.thirthBloc{
  margin-left: 15px;
}
.service{
  padding-top: 20px;
  width: 250px;
  display: flex;
}
.service>h2{
  color: rgb(103, 220, 255);
  font-weight: lighter;
}
.camion{
  display: flex;
}
.camion>p{
  font-weight: bolder;
  padding-top: 10px;
  margin: auto3;
  margin-left: 10px;
  margin-top: 10px;
}
.camion>img{
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
.chan{
  display: flex;
  margin-top: 10px;
}
.chan>p{
  font-weight: bolder;
  padding-top: 10px;
  margin: auto;
  margin-left: 20px;
}
.chan>img{
  width: 40px;
  height: 35px;
}

/*************** END SECTION  ***************/

/*************** FOOTER ***************/
footer{
  background-color: rgb(241, 241, 241);
}
.bloc1{
  width: 395px;
  margin-left: 15px;
  border-radius: 25px 25px 0 0 ;
  box-shadow: 1px 1px 15px;
  background-color: white;
}
.bloc1>h2{
  text-align: center;
  background-color:rgb(224, 222, 222) ;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.robe{
  display: flex;
}
.robe>img{
  width: 60px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.robe>p{
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bolder;
  width: 280px;
  text-align: center;
}
.voir{
  margin-right: 30px;
  margin-top: -25px;
  text-align: end;
  /* margin-bottom: 10px; */
  padding-top: -10px;
}
.voir>a{
  color: rgb(103, 220, 255);
}
.bloc2{
  width: 355px;
  margin-left: 15px;
  border-radius: 25px 25px 0 0 ;
  box-shadow: 1px 1px 15px ;
  background-color: white;
}
.bloc2>h2{
  text-align: center;
  background-color:rgb(224, 222, 222) ;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.talons{
  display: flex;
}
.talons>img{
  width: 80px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.talons>p{
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bolder;
  width: 210px;
}
.voir2{
  margin-right: 20px;
  text-align: end;
  margin-top: -15px;
  margin-bottom: 5px;
}
.voir2>a{
  color: rgb(103, 220, 255);
}
.bloc3{
  width: 395px;
  margin-left: 15px;
  border-radius: 25px 25px 0 0 ;
  box-shadow: 1px 1px 15px ;
  background-color: white;
}
.bloc3>h2{
  text-align: center;
  background-color:rgb(224, 222, 222) ;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.chemise{
  display: flex;
}
.chemise>img{
  width: 90px;
  height: 120px;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.chemise>p{
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bolder;
  width: 280px;
  text-align: center;
}
.voir3{
  margin-right: 15px;
  margin-top: -15px;
  text-align: end;
}
.voir3>a{
  color: rgb(103, 220, 255);
}
.bottom1{
  display: flex;
  width: 1200px;
  margin: auto;
}
.nav2{
  height: 40px;
  background-color: rgb(103, 220, 255);
  margin: auto;
  margin-top: 30px;
}
.nav2>ul{
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  margin: auto;
}
.nav2>ul>li>a{
  text-decoration: none;
  color: white;
  font-size: 1px;
}
.nav2>ul>li{
  list-style-type: none;
  margin-top: 10px;
}
/*************** END FOOTER ***************/

/*************** MEDIAQUERY ***************/

@media (max-width: 1400px) {
  header {
  }
 
}

@media (max-width: 960px) {
  header {
    background-image: none;
  }
  nav {
    display: none;
  }
  .img2 {
    display: none;
  }
  .container{
    width: 100%;
    display: block;
  }
  .sect21 {
    display: block;
    width: 100%;
  }
  .sect2{
    width: 100%;
    display: block;
  }
  .sect3{
    width: 100%;
    display: block;
  }
  footer{
    display: block;
    width: 100%;
  }
  .sideL{
    width: 100%;
    display: block;
  }
}
@media(max-width: 760px){
  header{
    display: none;
  }
}

/*************** END MEDIAQUERY ***************/


