html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  
}
img{
  width: 100%;
}

header {
  display: flex;
  justify-content: space-evenly;
  /* align-items: baseline; */
}
.logo {
  width: 10%;
  display: flex;
  align-items: center;
  transition: ease-out 3s;
  transform: rotate(360deg);
}

.header{
  font-size: 50px;
  padding-top: 100px;
  text-align: left;
  width: 100%;

}
h2 {
  /* width: 33%; */
  /* justify-content: center; */
  text-align: left;
  display: flex;
}
.header p {
  display: flex;
  /* width: 10%;
  font-size: 2px;
  font-weight: 2px; */
  font-size: 20px;
  color: rgb(224, 36, 168);
}

.help a {
  color: bleu rgb(103, 220, 255);
}


/* .article h2{
    color: white;
} */

/* h2{
    margin: 0;
} */
/*  */

.article {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav ul li :first-child {
  background-color: rgb(224, 36, 168);
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}
ul li {
  flex: auto;
  /* permet d'avoir les cases de la meme dimension */
}
.nav ul {
  height: 40px;
  background-color: rgb(103, 220, 255);
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.nav li {
  width: 100px;
  /* height: 100px; */
  color: white;
}
.nav a {
  list-style-type: none;
}

.bandeau img{
  width: 100%;
}

body {
  background-image: url(../img/fond.png);
}
section {
  display: flex;
}
.sect1{
  height: 150px;
  justify-content: space-between;
  
}
.paiement {
  margin-left: 15px;
  width: 20%;
  height: 50%;
  display: block;
  border-right: solid 2px white (222,222,222);
}
.paiement p {
  margin: 20px 0;
}
.paiement h2 {
  color: rgb(103, 220, 255);
}
.description {
  width: 40%;
}
.description h2 {
  color: rgb(103, 220, 255);
}
.description p {
  margin: 20px 0;
}
.service {
  margin-right: 15px;
  justify-content: space-around;
  width: 20%;
}
.service h2 {
  color: rgb(103, 220, 255);
}
.camion {
  margin-top: 20px;
  display: flex;
}
.camion img{
  margin-left: 0;
}
.camion p  {
  margin-left: 10px;
  margin-top: 10px;
}
.chan {
  height: 20%;
  display: flex;
}
.chan p {
  margin-top: 7px;
  margin-left: 10px;
}
/* .bonplan{
  
  
} */
.bonplan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40px;
  background-color: rgb(211, 211, 211);
}
.bonplan2 h2 {
  text-align: center;

}

/* **********************************memo tips*************************************************** */
/* Besoin d'aide pour caler le numero dans l'image
background:url(../IMAGE.png) center transparent no repeat;
width:170px;
height: 23px; */
/* .numero{
  padding: 3px 0 0 55px;
  + la color blue
} */

/* mon compte{
  background-color: le blue du tp;
  width: 300px;
  height: 20px;
  text-align: center;
  color: white;
} */

/* image panier + texte dans une div + text-align +
 space btwin + un margin top de 3px color white */

/* le background de header avec l'image trait */


/* ***************************Le Responsive************************** */
@media (max-width : 1400px) {
  .container{ 
    width: 100%;
  }
}
